.footer {
  display: grid;
  /* grid-template-rows: 1fr 1fr; */
}

.contentContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: hsl(0, 0%, 50%);
  font-size: 0.7rem;
  padding: 0 4rem;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
	width: 95%;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.socials > ul {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
