.bgImageContainer {
  position: relative;
  background-image: url("../../../../public/assets/home/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media (min-width: 1024px) {
  .bgImageContainer {
    background-image: url("../../../../public/assets/home/tablet/image-header.jpg");
  }
}

@media (min-width: 1440px) {
  .bgImageContainer {
    background-image: url("../../../../public/assets/home/desktop/image-hero.jpg");
  }
}

.innerContainer {
  display: block;
  height: 0;
}

.contentContainer {
  position: absolute;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  top: 50%;
  padding-left: 3.5rem;
  gap: 25px;
  transform: translateY(-50%);
}

.contentContainer span {
  color: hsl(0, 0%, 65%);
  opacity: 70%;
  letter-spacing: 0.4rem;
}

.contentContainer article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 50%;
  font-size: 1rem;
}

.contentContainer header {
  color: white;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1;
}

.contentContainer p {
  color: white;
}

.contentContainer button {
  cursor: pointer;
  padding: 12px 30px;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
